.cs-carousel__holder{
	width: 100%;
}
.b-product-cost__price_mod{
	font-size: 20px;
}
.cs-header-phones__icon_mod:before{
	content: '' !important;
}
.cs-header-phones__icon img{
	margin-right:10px;
}

.cs-navigate__show-all::after, .b-slider__next:after, .cs-images__button_next::after, .cs-publications-list__read-more::after, .cs-nav__arrow:before, .cs-sub-nav__arrow:before, .cs-recent-publications__read-more::after, .cs-carousel__button_type_next:after, .b-pager__link_pos_last:before, .cs-photos__back::after, .cs-comments__button_all-comments::after, .cs-certificates__back::after,.cs-carousel-aside__button_type_next:after, .cs-header-phones__main::after, .cs-manufactures__more:after, .cs-menu__arrow::after, .cs-toggle-sign:before, .cs-product-subgroups__toggle-more:after, .b-custom-drop-down__arrow:after{
	    content: "▼";
}
.cs-custom-button-icon_type_mail:before, .cs-contact-info__type-mail:after,.cs-custom-button-icon_type_order:before{
content: "\2709";
}
.cs-header-phones__icon::before, .cs-custom-button-icon_type_callback:before{
	content: "\1F4DE";
}